.title {
    text-align: center;
    font-size: 60px;
    height: 90px;
    font-family: 'Bungee Shade', cursive;
    color:  white;
}

#logo {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background-color: rgba(255, 255, 255, 0.65)	;
    border: 1px solid #3385ff;
    position: relative;
}

.goal {
    width: 50px;
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    font-size: 35px;
}

h3 {
    margin: 20px;
    font-size: 35px;
}

.aside{
    background-color: rgba(255, 255, 255, 0.65)	;
    border: 1px solid #3385ff;
}

#crystals1, #crystals2, #crystals3, #crystals4 {
    height: 100px;
    width: 100px;
}

.points {
    position: absolute;
    bottom: 0;
    border-top: 1px solid#3385ff;
    width: 100%;
}

.urpoints {
    font-size: 30px;
}

button {
    background: none;
    border-color: #99ccff;
}

body {
    background-size: cover;
    background-image: url("../images/night.png");
    background-repeat: no-repeat
}

html {
    height: 100vh;
}